.main {
  padding: 0 36px 24px;
  color: var(--text-color);
}

.header {
  text-align: center;
  font-size: 48px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  margin-bottom: 18px;
}

.headline {
  line-height: 1em;
  margin: 0;
  font-size: 38px;
}

.section-headline {
  text-align: center;
  margin-bottom: 24px;
}

.section-sub-headline {
  margin-bottom: 6px;
}

.section {
  margin-bottom: 64px;
}

.section-item {
  margin-bottom: 36px;
}

.description {
  font-size: 14px;
  margin: 12px 0;
}
