.main {
  padding: 0 72px 24px;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  height: 100vh;
  max-height: 768px;
}

.headline {
  font-size: 52px;
}

.section {
  display: flex;
  flex-wrap: wrap;
}

.section-headline {
  width: 100%;
  flex: 1 0 100%;
}

.section-item {
  width: 50%;
}
